STAGING_CONFIRMATION=narco-compliance-staging
SUPABASE_STAGING_URL=https://YOUR_STAGING_PROJECT_REF.supabase.co
SUPABASE_STAGING_ANON_KEY=YOUR_STAGING_PUBLISHABLE_OR_ANON_KEY

STAGING_ADMIN_EMAIL=YOUR_ADMIN_EMAIL
STAGING_ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD

STAGING_COMMITTEE_A_EMAIL=YOUR_COMMITTEE_A_EMAIL
STAGING_COMMITTEE_A_PASSWORD=YOUR_COMMITTEE_A_PASSWORD

STAGING_COMMITTEE_B_EMAIL=YOUR_COMMITTEE_B_EMAIL
STAGING_COMMITTEE_B_PASSWORD=YOUR_COMMITTEE_B_PASSWORD

STAGING_VIEWER_EMAIL=YOUR_VIEWER_EMAIL
STAGING_VIEWER_PASSWORD=YOUR_VIEWER_PASSWORD
